//color
$color-primary: #008DDD;
$color-primary-light: #6AC9FF;
$color-primary-lighter: #BEE7FF;
$color-primary-dark: #00598B;

$white: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;

$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-text: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$black: #000;

//fonts
$font-primary: "Roboto", sans-serif;


